.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.backBtn {
  background: #eee;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.dropZone {
  border: 2px dashed #436b62;
  background: #74afa270;
  color: #436b62;
  padding: 3rem;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background 0.2s;
}

.dropZone:hover {
  background: #74afa23d;
}

.hiddenInput {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  gap: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
}
.table thead tr {
  color: #436b62;
}
.files {
  margin-inline: 2px;
  color: #436b62;
  font-weight: bold;
}
/* files  lists*/
.deleteBtn {
  color: #d63031;
  background: none;
  cursor: pointer;
  border: 1px solid;
  padding: 3px;
  padding-inline: 13px;
  border-radius: 4px;
}
.deleteBtn,
.zipBtn:hover {
  cursor: pointer;
}
.zipBtn {
  padding: 3px;
  padding-inline: 13px;
  background-color: #0984e3;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}
.empty {
  margin-top: 55px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 140px;
}
.noFiles {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}
/* Progress bar styles */
.jobItem {
  margin-bottom: 1.5rem;
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
}

.jobInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 0.9rem;
  font-weight: 500;
}

.progressTrack {
  background: #dfe6e9;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progressBar {
  background: #0984e3;
  height: 100%;
  transition: width 0.3s ease;
}

/* --- media QUERIES --- */

@media (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  .header h1 {
    font-size: 1.2rem;
  }

  .dropZone {
    padding: 1.5rem;
  }

  .card {
    overflow-x: auto;
    padding: 1rem;
  }

  .jobInfo {
    flex-direction: column;
    gap: 4px;
  }

  .statusLabel {
    align-self: flex-start;
  }
}
