.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  backdrop-filter: blur(2px);
}

.modalContent {
  background: white;
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  animation: modalScale 0.25s ease-out;
  overflow: hidden;
}

.modalHeader {
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalHeader h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #436b62;
}

.closeIcon {
  background: none;
  border: none;
  font-size: 1.8rem;
  line-height: 1;
  cursor: pointer;
  color: #999;
  transition: color 0.2s;
  size: 30px;
}

.closeIcon:hover {
  color: #ff2828;
  transform: scale(1.3);
}

.modalBody {
  padding: 0.5rem;
}

/* Modal Animation */
@keyframes modalScale {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
